---
title: Contactez-nous
---
<div class="container prices">
  <form action="https://formspree.io/simon@simonguillor.it"
        method="POST">
      <input type="text" name="name">
      <input type="email" name="_replyto">
      <input type="textarea" name="_replyto">
      <input type="submit" value="Envoyer">
  </form>
</div>
