---
title: Nos tarifs
---

<div class="container prices">
  <h2>Les chambres Soleil et Lune</h2>

  <p>A partir de 135€ la nuitée pour deux personnes (petit-déjeuner inclus). En saison, un minimum de 2 nuits est souhaité.
  35 euros par personne supplémentaire.</p>

  <h2>La chambre Etoile pour 5 personnes</h2>

  <p>La location est à la semaine ( du Samedi au Samedi).</p>
  <ul>
  <li>1400 euros la semaine (Juin, Juillet, Août, Septembre et vacances scolaires).</li>
  <li>1200 euros hors-saison et hors-vacances scolaires.</li>
  </ul>

  <p> Une caution de 1500€ en chèque ou espèces sera demandée à la remise des clés, et sera restituée le jour du départ après état des lieux.
  </p>

  <p>Pour location de l’ensemble ( gîtes et chambres d’hôtes simultanément, nous consulter).</p>

  <p>50% d’acompte vous sont demandés pour toute réservation ( par virement ou par chèque).</p>

  <p>Pour tout renseignement complémentaire et pour toute réservation, merci de nous contacter via la rubrique « contact »</p>

</div>
